@charset "UTF-8";
body.aboutme-page {
  background-color: #2e659e;
}
.aboutme-page .header_nav a {
  color: #f6f3e7;
}
.header_nav a {
  display: block;
  font-size: 35px;
  color: #2e659e;
  font-family: Meiryo UI Italic, "游ゴシック体", YuGothic, "游ゴシック Medium","Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  position: relative;
  overflow: hidden;
}
.header_nav a::after {
  content: ''; /* 疑似要素にはcontentプロパティが必要 */
  position: absolute; /* 親要素（a）を基準に配置 */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* 下線の太さ */
  background-color: #f6f3e7; /* 下線の色 */
  transform: scaleX(0); /* 初期状態では幅を0にして見えなくする */
  transition: transform 0.3s ease; /* アニメーションの設定 */
  transform-origin: left; /* アニメーションの起点（左）を設定 */
}
/* ホバー時の下線（疑似要素）のスタイル */
.header_nav a:hover::after {
  transform: scaleX(1); /* ホバー時に幅を100%にする */
}

.aboutme-page .container {
  position: relative;
  padding: 430px 0 130px;
  margin-top: 220px;
}
.aboutme-page .heading__h1 {
  position: absolute;
  z-index: 3;
  max-width: 595px;
  width: 100%;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.aboutme-page .heading__h2 {
  text-align: center;
}
.aboutme-page .heading__h2 img {
  width: auto;
  height: 60px;
}
.aboutme__inner {
  display: flex;
  max-width: 805px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  align-items: center;
  width: 80%;
}
.aboutme__img--sp {
  display: none;
}
.submarine {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  top: 50%;
  left: 50%;
}
.aboutme__img {
  width: 265px;
  border-radius: 50%;
}
.aboutme__text-area {
  width: calc(100% - 265px);
  padding-left: 40px;
  font-weight: bold;
}
.name--sp {
  display: none;
}
.name img {
  width: auto;
  margin-left: 25px;
  margin-bottom: 34px;
}
.name--en img {
  margin-bottom: 43px;
}
.aboutme__hero {
  font-size: 24px;
  margin-bottom: 27px;
  color: #4f260be3;
}
.aboutme__text {
  font-size: 14px;
  line-height: 27px;
  color: #4f260be3;
}

/* ==========
fav
==========*/
.fav {
  position: relative;
}

/* ==========
各種項目
==========*/
.aboutme-sec__inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.aboutme-sec__inner p {
  text-align: center;
  color: #f6f3e7;
  font-size: 24px;
  line-height: 2;
}

/* ==========
シャボン玉
==========*/
.sabon {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.sabon--big {
  max-width: 125px;
}
.sabon--middle {
  max-width: 50px;
}
.sabon--small {
  max-width: 30px;
}
.sabon--ex-small {
  max-width: 22px;
}

.sabon01 {
  top: 10px;
  right: 10%;
}
.sabon02 {
  left: -5%;
  top: 170px;
}
.sabon03 {
  bottom: -70px;
  right: 13%;
}
.sabon04 {
  right: 20%;
  top: 160px;
}
.sabon05 {
  right: -3%;
  top: 230px;
}
.sabon06 {
  top: 207px;
  left: 20%;
}
.sabon07 {
  left: 10%;
  bottom: -40px;
}
.sabon08 {
  left: 15%;
  bottom: -140px;
}
.sabon09 {
  right: 26%;
  bottom: -120px;
}
.sabon10 {
  right: 19%;
  bottom: -210px;
}
.sabon11 {
  right: 18%;
  bottom: -870px;
}
.sabon12 {
  bottom: -80px;
  right: 10%;
}
.sabon13 {
  right: 40%;
  top: 90px;
}
.sabon14 {
  right: 90%;
  top: 180px;
}
.sabon15 {
  right: 85%;
  top: 260px;
}
.sabon16 {
  right: 35%;
  top: 880px;
}
.sabon17 {
  right: 80%;
  top: 900px;
}
.sabon18 {
  right: 30%;
  top: 1300px;
}
.sabon19 {
  right: 15%;
  top: 560px;
}
.sabon20 {
  top: 100px;
  left: 10%;
}
.sabon21 {
  left: 23%;
  bottom: -670px;
}
.sabon22 {
  left: 20%;
  bottom: -720px;
}
.sabon23 {
  left: 23%;
  bottom: -750px;
}

.stitch {
  position: absolute;
  width: 100%;
  z-index: 4;
}
.cars {
  width: 276px;
  top: -240px;
  left: 10px;
}
.mario {
  max-width: 241px;
  width: 50%;
  top: 0;
  right: 0;
}
.poteto {
  width: 236px;
  top: 260px;
  left: 10px;
}
.burger {
  width: 242px;
  top: 730px;
  right: 0;
}
.plankton {
  width: 278px;
  top: 1160px;
  left: 400px;
}
.sax {
  width: 346px;
  top: 1030px;
  left: 0;
}

.main {
  margin-bottom: 315px;
}

.footer {
  background: #fa5327;
  position: relative;
}

.footer img {
  width: 358px;
  height: auto;
  margin-top: none;
  margin-bottom: none;
}

.pagetop {
  position: fixed; /* ← 固定表示 */
  right: 20px;
  bottom: 130px;
  z-index: 1000; /* 他の要素より前に出す */
}

.pagetop img {
  width: 125px;
  height: auto;
  display: block;
}

.copyright {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 35px;
  color: #f6f3e7;
}

/* ========================================
responsive
======================================== */
@media screen and (max-width: 1100px) {
  .header_nav {
    display: none;
  }

  .hambuger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
  }
  
  .hambuger span, .hambuger span::before, .hambuger span::after {
    width: 30px;
    height: 3px;
    background-color: #fa5327;
    position: absolute;
    transition: .3s;
  }

  .hambuger span {
    top: 14px;
  }

  .hambuger span::before {
    content: "";
    top: -14px;
  }

  .hambuger span::after {
    content: "";
    bottom: -14px;
  }

  .open span {
    background-color: transparent;
  }
  .open span::before {
    transform: rotate(45deg);
    top: 0;
  }
  .open span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .header_nav-sp {
    position: absolute;
    background-color: #4f260bd9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .header_nav-sp ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .header_nav-sp a {
    display: block;
    color: #f6f3e7;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }  

  .header_nav-sp a::after {
    content: ''; /* 疑似要素にはcontentプロパティが必要 */
    position: absolute; /* 親要素（a）を基準に配置 */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* 下線の太さ */
    background-color: #f6f3e7; /* 下線の色 */
    transform: scaleX(0); /* 初期状態では幅を0にして見えなくする */
    transition: transform 0.3s ease; /* アニメーションの設定 */
    transform-origin: left; /* アニメーションの起点（左）を設定 */
  }

  /* ホバー時の下線（疑似要素）のスタイル */
  .header_nav-sp a:hover::after {
    transform: scaleX(1); /* ホバー時に幅を100%にする */
  }

  .submarine {
    display: none;
  }
  .aboutme__img {
    display: none;
  }
  .aboutme__img--sp {
    display: block;
    height: 249px;
    width: auto;
  }
  .aboutme__inner.sp {
    max-width: 805px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    align-items: center;
    width: 80%;
  }

  .name--sp {
    width: auto;
    margin-bottom: 34px;
  }
.name img {
  display: none;
  }

  .sabon--big {
    max-width: 35px;
  }
  .sabon--middle {
    max-width: 15px;
  }
  .sabon--small {
    max-width: 10px;
  }
  .sabon--ex-small {
    display: none;
  }
  .sabon11 {
    right: 18%;
    bottom: -870px;
  }
  .sabon12 {
    bottom: -80px;
    right: 10%;
  }
  .sabon13 {
    right: 40%;
    top: 90px;
  }
  .sabon14 {
    left: 0;
    top: 300px;
  }
  .sabon15 {
    left: 7%;
    top: 380px;
  }
  .sabon16 {
    right: 35%;
    top: 880px;
  }
  .sabon17 {
    right: 80%;
    top: 900px;
  }
  .sabon18 {
    right: 30%;
    top: 1300px;
  }
  .sabon19 {
    right: 15%;
    top: 560px;
  }
  .sabon20 {
      top: 230px;
      left: 8%;
  }
  .sabon21 {
    left: 23%;
    bottom: -670px;
  }
  .sabon22 {
    left: 20%;
    bottom: -720px;
  }
  .sabon23 {
    left: 23%;
    bottom: -750px;
  }
  .cars {
    width: 130px;
    top: -340px;
    left: 10px;
  }
  .mario {
    max-width: 150px;
    width: 50%;
    top: 0;
    right: 0;
  }
  .poteto {
    width: 130px;
    top: 430px;
    left: 10px;
  }
  .burger {
    width: 150px;
    top: 850px;
    right: 0;
  }
  .plankton {
    width: 150px;
    top: 1380px;
    left: 50%;
  }
  .sax {
    width: 130px;
    top: 1350px;
    left: 0;
  }
  .name {
    display: none;
  }
  .name--sp {
    display: flex;
    gap: 30px;
  }
  .name--jp {
    height: 36px;
    width: auto;
    margin-left: 25px;
    margin-bottom: 34px;
  }
  .name--en {
    height: 20px;
    width: auto;
  }
  .aboutme__hero {
    font-size: 24px;
    margin-bottom: 27px;
    color: #f6f3e7;
  }
  .aboutme__text {
    font-size: 14px;
    line-height: 27px;
    color: #f6f3e7;
  }
}