@charset "utf-8";
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: #f6f3e7;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

main {
  margin-top: -44px;
}

h2 {
  text-align: center;
}

h2 img {
  display: inline-block;
  width: auto;
  height: 100px;
  margin: 120px 0 56px;
}

/* --- Responsive (Base) --- */
@media screen and (max-width: 1280px) {
  main {
    margin-top: -14px;
  }
}

/* ==========
button
==========*/
.more-btn {
  width: 320px;
  height: 60px;
}
.more-btn a {
 display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #fa5327;
  border-radius: 70px;
  box-shadow: -5px 5px 0 0 #42210b;
  background-color: #fa5327;
  color: #f6f3e7;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  transition: .3s;

  -webkit-text-stroke: 1px #42210b;
}

.more-btn a:hover {
  box-shadow: 0 0 0 0 #42210b;
  background-color: #f6f3e7;
  color: #fa5327;
}

/* ========================================
HEADER
======================================== */
#header {
  padding-top: 169px;
}
.header_inner {
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 9997;
  top: 0;
}

.header_nav ul {
  display: flex;
  gap: 110px;
  justify-content: center;
  padding-top: 62px;
}

.header_nav a {
  display: block;
  font-size: 35px;
  color: #2e659e;
  position: relative;
  overflow: hidden;
}
.header_nav a::after {
  content: ''; /* 疑似要素にはcontentプロパティが必要 */
  position: absolute; /* 親要素（a）を基準に配置 */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* 下線の太さ */
  background-color: #2e659e; /* 下線の色 */
  transform: scaleX(0); /* 初期状態では幅を0にして見えなくする */
  transition: transform 0.3s ease; /* アニメーションの設定 */
  transform-origin: left; /* アニメーションの起点（左）を設定 */
}

/* ホバー時の下線（疑似要素）のスタイル */
.header_nav a:hover::after {
  transform: scaleX(1); /* ホバー時に幅を100%にする */
}

/* ==========
main-visual
==========*/
.mainvisual {
  position: relative;
}
.mv__text--top, .mv__text--middle, .mv__text--bottom {
  position: absolute;
  font-family: Euphemia UCAS, "游ゴシック体", YuGothic, "游ゴシック Medium","Yu Gothic Medium", "游ゴシック", "Yu Gothic", 
  sans-serif;
}
.mv__text--middle, .mv__text--bottom {
  font-size: 30px;
  color: #fa5327;
}
.mv__text--top {
  font-size: 20px;
  color: #2e659e;
  top: 10%;
  left: 10%;
}
.mv__text--middle {
  top: 25%;
  left: 10%;
}
.mv__text--bottom {
  top: 25%;
  right: 10%;
}
/* ========================================
HERO / CONCEPT
======================================== */
.hero {
  background: #2e659e;
  position: relative;
  z-index: 2;
}

.concept__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px, 0, 56px;
}

.concept__colums {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.hero-content {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-content img {
  width: auto;
  height: 155px;
}

.concept__text-area {
  width: 65%;
  margin-left: 120px;
}

.sp-only {
  display: none;
}
.hero-text-main {
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #f6f3e7;
  margin-bottom: 70px;
}

.hero-text-sentence {
  line-height: 35px;
  font-size: 16px;
  color: #f6f3e7;
}

/* --- Lighthouse Animation --- */
.lighthouse {
  display: block;
  position: relative;
}

.lighthouse01::before, .lighthouse01::after, .lighthouse02::before, .lighthouse03::before, .lighthouse03::after {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  animation: blinking 1s ease-in-out infinite alternate;
}

.lighthouse01::before {
  left: -20px;
  width: 22px;
  height: 52px;
  background-image: url(../images/left1.png);
}

.lighthouse01::after {
  right: -20px;
  transform: rotate(180deg);
  width: 22px;
  height: 52px;
  background-image: url(../images/left1.png);
}

.lighthouse02::before {
  top: 14px;
  left: 48px;
  width: 22px;
  height: 16px;
  background-color: #ffffff;
  animation: blinking 3s ease-in-out infinite alternate;
}

.lighthouse03::before {
  left: -30px;
  width: 30px;
  height: 50px;
  background-image: url(../images/left3.png);
  animation-delay: 1s;
}

.lighthouse03::after {
  right: -30px;
  transform: rotate(180deg);
  width: 30px;
  height: 50px;
  background-image: url(../images/left3.png);
  animation-delay: 1s;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ========================================
ABOUT
======================================== */
.wave-blue {
  transform: translateY(-2px);
  position:relative;
	overflow:hidden;
	margin:0 auto;
	height:450px;
}
.wave-blue::before {
  position:absolute;
  top:-150%;
  left:-50%;
  border-radius:50% 50% / 50% 70%;
  width:200%;
  height:200%;
  content:"";
  background-color:#2e659e;
  animation:wave linear 6s infinite;
}
@keyframes wave {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.ship {
  position: absolute;
  width: 18%;
  z-index: 9997;
  margin-top: 160px;
}

.about {
  background: #2e659e;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-content img {
  width: 35%;
  height: 35%;
  margin: 200px 0 110px;
}

.about-text {
  width: 50%;
  text-align: left;
  padding-left: 50px;
}

.about-text h2 img {
  width: auto;
  height: 100px;
  margin-bottom: 28px;
}

.about-text p {
  line-height: 35px;
  font-size: 16px;
  color: #f6f3e7;
}

.about .more-btn {
  margin-left: auto;
}

.about-content-sp {
  display: none;
}


/* ========================================
WORKS
======================================== */
.works {
  text-align: center;
}

.works .more-btn {
  margin: 40px auto;
}

.ttl--bubble {
  display: inline-block;
  position: relative;
  top: 186px;
}

.ttl--bubble::before, .ttl--bubble::after {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.ttl--bubble::before {
  background-image: url(../images/left.png);
  width: 51px;
  height: 43px;
  top: 120px;
  left: -60px;
}
.ttl--bubble::after {
  background-image: url(../images/right.png);
  width: 77px;
  height: 77px;
  top: 80px;
  right: -80px;
}

.works-list {
  display: flex;
  justify-content: center;
  margin-top: 220px;
}

.works-list img {
  width: 100%;
}

#mask-path1 {
  fill: none; /* 塗りの色 */
  stroke: #f6f3e7; /* 線の色 */
  stroke-width: 200px; /* 線幅 */
  stroke-linecap: round; /* 線端の形状 */
  stroke-linejoin: round; /* 角の形状 */
  stroke-dasharray: 2000; /* 線の間隔を指定する */
  stroke-dashoffset: 2000; /* 線の位置を指定する */
  animation: draw 5s ease forwards; /* アニメーション設定 5秒間で線が描かれる*/
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
#mask-path2 {
  fill: none; /* 塗りの色 */
  stroke: #f6f3e7; /* 線の色 */
  stroke-width: 85px; /* 線幅 */
  stroke-linecap: round; /* 線端の形状 */
  stroke-linejoin: round; /* 角の形状 */
  stroke-dasharray: 2000; /* 線の間隔を指定する */
  stroke-dashoffset: 2000; /* 線の位置を指定する */
  animation: draw 5s ease forwards; /* アニメーション設定 5秒間で線が描かれる*/
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* ========================================
SKILL
======================================== */
.skill {
  text-align: center;
}

.skill-list {
  display: flex;
  justify-content: center;
  margin-bottom: 385px;
}

.skill-item {
  margin: 0 15px;
  text-align: center;
  width: 30%;
}

.skill-item img {
  max-width: 234px;
  display: block;
  margin: 220px auto 0;
}

.skill-list h3 {
  font-size: 32px;
  margin-top: 45px;
  font-weight: bold;
  color: #2e659e;
}
.skill-list p {
  font-size: 24px;
  line-height: 2.5;
  font-weight: bold;
  color: #2e659e;
}

/* ========================================
CONTACT
======================================== */
.wave-orange {
  transform: translateY(100px);
}
.wave-orange-sp {
    display: none;
  }

.contact {
  text-align: center;
  background: #f9745a;
}

.contact h2 {
  margin: 78px 0 43px;
}

.contact p {
  font-size: 18px;
  color: #f6f3e7;
  line-height: 32px;
  margin-bottom: 55px;
}

/* ========================================
FORM
======================================== */
.contact-form {
  padding-bottom: 330px;
}

.c-form {
  max-width: 850px;
  margin: 0 auto;
}

.c-form__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.c-form__item--sp {
    display: none;
  }

.c-form__item p {
  margin: 0 auto;
  font-size: 32px;
}
  /* Border方式 */
.c-form__item p::after {
	content: "";
  position: absolute;
  margin: auto;
  margin-left: 50px;
	border-style: solid;
	border-width: 15px 0px 15px 15px;
	border-color: transparent transparent transparent #f6f3e7;
}

.c-form__label {
  width: 240px;
}

.c-form__input {
  width: calc(100% - 240px);
  height: 64px;
  padding: 10px 20px;
  border: 5px solid #42210b;
  border-radius: 64px;
  box-sizing: border-box;
  font-size: 24px;
}

textarea.c-form__input {
  height: 350px;
  padding: 30px 20px;
  border-radius: 40px;
}

.form__label-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #f6f3e7;
}

.label--ja {
  font-size: 24px;
}
.label--en {
  font-size: 16px;
}

.c-form__submit button {
  width: 100px;
  height: 52px;
  border: none;
  border-radius: 52px;
  text-align: center;
  line-height: 52px;
  box-shadow: -4px 3px 0 0 #f6f3e7;
  background-color: #42210b;
  color: #f6f3e7;
  cursor: pointer;
  transition: .3s;
}

.c-form__submit button:hover {
  transform: translate(-4px, 3px);
  box-shadow: 0 0 0 0 #f6f3e7;
}

/* ========================================
FOOTER
======================================== */

/* Footer */
.footer {
  position: relative;
  background: #2e659e;
}

.footer img {
  width: 358px;
  height: auto;
  padding-top: 23px;
  margin: 0 auto;
}
.footer p {
  line-height: 1.95;
}

.copyright {
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #f6f3e7;
}

.pagetop {
  position: fixed; /* ← 固定表示 */
  right: 20px;
  bottom: 130px;
  z-index: 1000; /* 他の要素より前に出す */
  transform: translateY(6px);
}

.pagetop img {
  width: 125px;
}

/* ========================================
HAMBURGER MENU
======================================== */
.hambuger, .header_nav-sp {
  display: none;
}

/* ========================================
SLICK SLIDER
======================================== */
.slick-initialized .slick-slide {
  margin: 0 20px;
}

.arrow__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0;
}

.prev-arrow, .next-arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2e659e;
  cursor: pointer;
  transition: all .3s ease;
}

.prev-arrow {
  transform: rotate(180deg);
  margin-right: 20px;
}

.prev-arrow::before, .next-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  content: "";
}

.prev-arrow::before {
  border-top: 7px solid transparent;
  border-right: none;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #f6f3e7;
}

.next-arrow::before {
  border-top: 7px solid transparent;
  border-right: none;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #f6f3e7;
}

/* ========================================
responsive
======================================== */
@media screen and (max-width: 1100px) {
  .header_nav {
    display: none;
  }

  .hambuger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 9999;
    cursor: pointer;
  }
  
  .hambuger span, .hambuger span::before, .hambuger span::after {
    width: 30px;
    height: 3px;
    background-color: #fa5327;
    position: absolute;
    transition: .3s;
  }

.hambuger span {
    top: 14px;
  }

  .hambuger span::before {
    content: "";
    top: -14px;
  }

  .hambuger span::after {
    content: "";
    bottom: -14px;
  }

  .open span {
    background-color: transparent;
  }
  .open span::before {
    transform: rotate(45deg);
    top: 0;
  }
  .open span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .header_nav-sp {
    position: absolute;
    background-color: #4f260bd9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .header_nav-sp ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .header_nav-sp a {
    display: block;
    color: #f6f3e7;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }  

  .header_nav-sp a::after {
    content: ''; /* 疑似要素にはcontentプロパティが必要 */
    position: absolute; /* 親要素（a）を基準に配置 */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* 下線の太さ */
    background-color: #f6f3e7; /* 下線の色 */
    transform: scaleX(0); /* 初期状態では幅を0にして見えなくする */
    transition: transform 0.3s ease; /* アニメーションの設定 */
    transform-origin: left; /* アニメーションの起点（左）を設定 */
  }

  /* ホバー時の下線（疑似要素）のスタイル */
  .header_nav-sp a:hover::after {
    transform: scaleX(1); /* ホバー時に幅を100%にする */
  }

  .about-content {
    padding-bottom: 30px;
  }
}

/* ------------------------------
   スマホ用
------------------------------ */
@media screen and (max-width: 768px) {
  /* ----- General Layout ----- */
  #header {
    padding-top: 0;
  }
  .wrapper {
    padding: 0 20px;
  }
  section h2 img {
    height: 56px;
  }

  /* ----- Main Visual ----- */
  .mainvisual {
    height: 670px;
  }
  .mainvisual img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;

    object-fit: cover;
  }
  .mv__text--top {
    top: 125px;
    left: 20%;
    font-size: 12px;
  }
  .mv__text--middle, .mv__text--bottom {
    top: 147px;
    font-size: 14px;
  }
  .mv__text--middle {
    left: 20%;
  }
  .mv__text--bottom {
    right: 20%;
  }

  /* ----- Hero / Concept ----- */
  .hero-content {
    width: 100%;
  }
  .concept__colums {
    flex-direction: column-reverse;
    width: 100%;
  }
  .concept__text-area {
    width: 90%;
    margin: 0 0 72px;
  }


  /* Heroの文字サイズ調整 */
  .sp-only {
    display: block;
  }
  .hero-text .hero-text-main {
    font-size: 24px;
    margin: 30px 0 22px;
    line-height: 1.157;
  }
  .hero-text .hero-text-sentence {
    font-size: 15px;
    line-height: 2;
  }

  /* About: 横並び→縦並び */
  .about-content {
    display: none;
  }
  .about-content-sp {
    display: block;
    padding-bottom: 30px;
  }
  .about-content-sp .about__image {
    display: block;
    width: 43%;
    min-width: 170px;
    margin: 0 auto 56px;
  }
  .about-content-sp .more-btn a {
    text-align: center;
  }

  .about-text {
    width: 100%;
  }

  /* Works: 3カラム→縦並び */
  .works-list {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
     gap: 35px;
  }

  .ttl--bubble {
    top: 0;
  }

  /* ----- Skill ----- */
  .skill-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    gap: 20px;
  }
  .skill-item {
    width: 100%;
  }
  .skill-item img {
    width: 40%;
    min-width: 160px;
    margin-top: 0;
  }

  /* Contact */
  .wave-orange-sp {
    display: block;
    transform: translateY(50px);
  }
  .contact h2 {
    margin: 32px 0 10px;
  }

  /* ==========
  form
  ==========*/
  .contact-form {
    padding-bottom: 100px;
  }
  .c-form {
    max-width: 850px;
    margin: 0 auto;
  }
  .c-form__item {
    display: none;
  }
  .c-form__item--sp {
    display: block;
    margin-bottom: 45px;
  }
  .c-form__item p {
    margin: 0 auto;
    font-size: 32px;
  }
    /* Border方式 */
  .c-form__item p::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 15px 0px 15px 15px;
    border-color: transparent transparent transparent #f6f3e7;
  }
  .c-form__label {
    width: 240px;
  }
  .c-form__input {
    width: calc(100% - 50px);
    height: 64px;
    border-radius: 64px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 5px solid #42210b;
    font-size: 24px;
  }
  textarea.c-form__input {
    height: 350px;
    border-radius: 40px;
    padding: 30px 20px;
  }
  .form__label-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #f6f3e7;
  }
  .label--ja--sp, .label--en--sp {
    display: none;
  }

  .c-form__submit button {
    width: 100px;
    height: 52px;
    background-color: #42210b;
    border-radius: 52px;
    text-align: center;
    line-height: 52px;
    color: #f6f3e7;
    border: none;
    box-shadow: -4px 3px 0px 0px #f6f3e7;
    cursor: pointer;
    transition: 0.3s;
  }
  .c-form__submit button:hover {
    transform: translate(4px, 3px);
    box-shadow: 0px 0px 0px 0px #f6f3e7;
  }


  /* Footer: 縦並び */
  .footer_inner--column {
    flex-direction: column;
    gap: 33px;
  }

  .footer img {
    width: auto;
    height: 50px;
    padding-top: 23px;
    margin: 0 auto;
  }
  
  .footer p {
    font-size: 18px;
  }
  .copyright {
    font-size: 16px;
  }

  /* ページトップボタン縮小 */
  .pagetop img {
    height: 100px;
    width: auto;
    position: fixed; /* ← 固定表示 */
    right: 0;
    bottom: 9px;
    z-index: 1000; /* 他の要素より前に出す */
    transform: translateY(6px);
  }
}