@charset "utf-8";

body {
  background-color: #f6f3e7;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  margin-top: -44px;
}
@media screen and (max-width: 1280px) {
  main {
    margin-top: -14px;
  }
}

#header {
  padding-top: 169px;
}
.header_inner {
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 9997;
  top: 0;
}

.header_nav ul {
  display: flex;
  gap: 110px;
  justify-content: center;
  padding-top: 62px;
}

.header_nav a {
  font-size: 35px;
  color: #2e659e;
  font-family: Meiryo UI Italic, "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* ==========
main-visual
==========*/
.mainvisual {
  position: relative;
}
.mv__text--top,
.mv__text--middle,
.mv__text--bottom {
  position: absolute;
  font-family: Euphemia UCAS, "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.mv__text--middle,
.mv__text--bottom {
  font-size: 30px;
  color: #fa5327;
}
.mv__text--top {
  font-size: 20px;
  color: #2e659e;
  top: 10%;
  left: 10%;
}
.mv__text--middle {
  top: 25%;
  left: 10%;
}
.mv__text--bottom {
  top: 25%;
  right: 10%;
}
/* キャッチコピー */
.hero {
  background: #2e659e;
  position: relative;
  z-index: 2;
}
.concept__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px, 0, 56px;
}

.concept__colums {
  display: flex;
}

h2 {
  text-align: center;
}

h2 img {
  width: auto; /* 各画像の大きさをそろえる */
  height: 100px;
  display: inline-block;
  margin-top: 120px;
  margin-bottom: 56px;
}

.hero-content {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 455px;
}
.hero-content img {
  margin-top: 150px;
}

.concept__text-area {
  width: 65%;
  margin-left: 120px;
}
.hero-text-main {
  line-height: 50px;
  font-size: 28px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #f6f3e7;
  margin-bottom: 70px;
}
.hero-text-sentence {
  line-height: 35px;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #f6f3e7;
}

.hero-content img {
  height: 155px;
  width: auto;
  text-align: left;
  padding-left: 50px;
}
.hero-content h2 img {
  padding: 0 0 62px; /* 下に余白を確保 */
  width: auto;
  height: 57px;
  display: inline-block;
}
.hero-text .hero-text-main {
  font-size: 82px;
  margin: 60px 0 47px;
  line-height: 1.17;
  text-wrap: balance;
  word-break: auto-phrase;
}
.hero-text .hero-text-sentence {
  font-size: 23px;
  line-height: 1.652;
  text-wrap: balance;
  word-break: auto-phrase;
}

/* About */
.about {
  background: #2e659e;
}

.about-content {
  display: flex;
  justify-content: center;
}
.about-content-sp {
  display: none;
}
.about-content img {
  width: 35%;
  margin-top: 200px;
  margin-bottom: 110px;
}

.about-text {
  width: 50%;
  text-align: left;
  padding-left: 50px;
}
.about-text h2 img {
  width: auto;
  height: 100px;
  margin-bottom: 28px;
  display: inline-block;
}
.about-text p {
  line-height: 35px;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #f6f3e7;
}

/* Works */
.works {
  text-align: center;
}
.ttl--bubble {
  display: inline-block;
  position: relative;
  top: 186px;
}
.ttl--bubble::before {
  position: absolute;
  content: "";
  background-image: url(../images/left.png);
  width: 51px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 120px;
  left: -60px;
}
.ttl--bubble::after {
  position: absolute;
  content: "";
  background-image: url(../images/right.png);
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 80px;
  right: -80px;
}

.works-list {
  display: flex;
  justify-content: center;
  margin-top: 220px;
}

.works-list img {
  width: 100%;
  margin: 0 auto;
}

/* Skill */
.skill {
  text-align: center;
}

.skill-list {
  display: flex;
  justify-content: center;
  margin-bottom: 385px;
}
.skill-list h3 {
  font-size: 32px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  margin-top: 45px;
  font-weight: bold;
  color: #2e659e;
}
.skill-list p {
  font-size: 24px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 2.5;
  font-weight: bold;
  color: #2e659e;
}

.skill-item {
  margin: 0 15px;
  text-align: center;
  width: 30%;
}
.skill-item img {
  max-width: 234px;
  display: block;
  margin: 0 auto;
  margin-top: 220px;
}

/* Contact */
.contact {
  text-align: center;
  background: #f9745a;
}
.contact h2 {
  margin: 78px 0 43px;
}
.contact p {
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #f6f3e7;
  line-height: 32px;
}

/* Footer */
.footer {
  background: #2e659e;
  position: relative;
}

.footer img {
  width: 358px;
  height: auto;
  margin-top: none;
  margin-bottom: none;
}
.footer p {
  line-height: 1.95;
}

.pagetop {
  position: fixed; /* ← 固定表示 */
  right: 20px;
  bottom: 130px;
  z-index: 1000; /* 他の要素より前に出す */
}

.pagetop img {
  width: 125px;
  height: auto;
  display: block;
}

.copyright {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    line-height: 35px;
  color: #f6f3e7;
}

.hambuger,
.header_nav-sp {
  display: none;
}

/* ------------------------------
   ハンバーガーメニュー
------------------------------ */
@media screen and (max-width: 1100px) {
  .header_nav {
    display: none;
  }
  .hambuger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
  }
  .hambuger span {
    width: 30px;
    height: 3px;
    background-color: #fa5327;
    position: absolute;
    top: 14px;
    transition: 0.3s;
  }
  .hambuger span::before {
    content: "";
    position: absolute;
    top: -14px;
    width: 30px;
    height: 3px;
    background-color: #fa5327;
    transition: 0.3s;
  }
  .hambuger span::after {
    content: "";
    position: absolute;
    bottom: -14px;
    width: 30px;
    height: 3px;
    background-color: #fa5327;
    transition: 0.3s;
  }

  .open span {
    background-color: transparent;
  }
  .open span::before {
    transform: rotate(45deg);
    top: 0;
  }
  .open span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .header_nav-sp {
    position: absolute;
    background-color: #4f260bd9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .header_nav-sp ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .header_nav-sp a {
    color: #f6f3e7;
    font-size: 35px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }
}

/* ------------------------------
   スマホ用
------------------------------ */
@media screen and (max-width: 768px) {
  section h2 img {
    height: 56px;
  }
  .wrapper {
    margin: 0 auto;
    padding: 0 20px;
  }
  /* Heroの文字サイズ調整 */
  .hero-text .hero-text-sub {
    font-size: 15px;
  }
  .hero-text .hero-text-main {
    font-size: 24px;
    margin: 30px 0 22px;
    line-height: 1.157;
    text-wrap: balance;
    word-break: auto-phrase;
  }
  .hero-text .hero-text-sentence {
    font-size: 15px;
    line-height: 2;
    text-wrap: balance;
    word-break: auto-phrase;
  }

  /* About: 横並び→縦並び */
  .about-content {
    display: none;
  }
  .about-content-sp {
    display: block;
  }
  .about-content-sp h2 {
    text-align: center;
    margin: 67px 0 18px;
  }

  .about-text {
    width: 100%;
  }
  .about-text h3 {
    font-size: 36px;
    line-height: 1.25;
    margin-top: 37px;
  }
  .about-text p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 58px;
  }

  /* Works: 3カラム→縦並び */
  .works-list {
    flex-direction: column;
    align-items: center;
  }

  /* Skill */
  .gallery-list img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* Contact */
  .contact h2 {
    margin: 32px 0 10px;
  }

  /* Footer: 縦並び */
  .footer_inner--column {
    flex-direction: column;
    gap: 33px;
  }
  .footer {
    padding: 47px 0 35px;
  }
  .footer p {
    font-size: 18px;
  }
  .copyright {
    font-size: 16px;
  }

  /* ページトップボタン縮小 */
  .pagetop img {
    height: 70px;
    width: auto;
  }
}
  