@charset "UTF-8";

body.works-page {
  background-image: url(../images/check.png);
}

.works-page .heading__h1 {
  width: 403px;
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
}
.works-page .heading__h1-img--bubble {
  position: absolute;
  width: 89px;
  top: 60px;
  right: -60px;
}

.works-page .works__list {
  max-width: 1100px;
  margin: 0 auto 120px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 100px;
  align-items: flex-start;
  padding: 0 5%;
}
.works__item {
  width: 30%;
}
.works-page .works-hp__list {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 10%;
  padding: 0 5% 270px;
}
.works-page .works-hp__item {
  width: 45%;
}

.works-hp__item.comingsoon {
  position: relative;
}
.works-hp__item .comingsoon__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
